// variables
$white: #ffffff;
$grey: #dddddd;
$black: #000000;
$green: #4d9631;

$text-color: $white;
$page-bg: $black;
$link-color: $green;
$heading-color: $link-color;

$base-spacing: 1em;

$font--serif: "freight-micro-pro", Georgia, serif;
$font--sans-serif: "freight-sans-pro", sans-serif;

// imports
@import "mixins";
@import "normalize";
@import "reset";


// styles
.link {
	color: $link-color;
	&:hover {
		color: darken($link-color, 10%);
		@include text-shadow(1px, 1px, 4px, $black, 1);
		@include transition();
	}
	&:focus {
		outline: $link-color dotted thin;
	}
	&:active {

	}
}

.page {
	background: url('../img/bg.jpg') no-repeat bottom center $page-bg;
	background-size: cover;
	border-top: $base-spacing solid rgba($black, .25);
	color: $text-color;
	padding: $base-spacing;
	font: 1em/1.5 normal;
	font-family: $font--serif;
}

.page__wrapper {
	max-width: 40em;
	//margin: 0 auto;
}

.page__title {
	font-size: 4.5em;
	color: $heading-color;
	font-family: $font--sans-serif;
	@include text-shadow(2px, 2px, 4px, $black, .5);
}

.page__header,
.paragraph {
	margin-bottom: $base-spacing;
}

.subheading {
	color: rgba($white, .5);
}

.paragraph {
	font-size: 1.25em;
}

.page__footer {
	font-size: .75em;
}

abbr:hover {
	cursor: help;
	border-bottom: 2px solid;
	@include text-shadow(1px, 1px, 4px, $black, 1);
	@include transition();
}

@media (min-width: 40em) {
	.page {
		font-size: 125%;
	}
}
